# -----------------------------------------------------
# Directorio donde se almacen las sessiones.
# Si se activa deberá crear directorio en httdocs.
# Por defecto las sesiones se almacenan en HB_DirTemp()
# -----------------------------------------------------
#Setenv SESSION_PATH 	'/_sessions'

# -----------------------------------------------------
# Impedir que lean los ficheros del directorio
# -----------------------------------------------------
Options All -Indexes

# -----------------------------------------------------
# Añadir extension si no se especifica
# -----------------------------------------------------
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}.prg -f
	RewriteRule ^(.*)$ $1.prg
</IfModule>